name: flutter_stable_geo_fence
description: A flutter project to provide Geo Fence functionality in Android and IOS
version: 1.0.0
repository: https://github.com/tarique-khan/flutter_stable_geofence
issue_tracker: https://github.com/tarique-khan/flutter_stable_geofence/issues
platforms:
  android:
  ios:

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  geolocator: ^8.0.5



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.tarique.flutter_stable_geo_fence
        pluginClass: FlutterStableGeoFencePlugin
      ios:
        pluginClass: FlutterStableGeoFencePlugin

